**
!Dockerfile
!pyproject.toml
!MANIFEST.in
!README.md
!LICENSE
!NOTICE
!DATA_ATTRIBUTION.md
!THIRD_PARTY_NOTICES.md
!MODEL_CARD.md
!PRIVACY.md
!SECURITY.md
!src/
!src/bridgecheck/
!src/bridgecheck/*.py
!src/bridgecheck/model/
!src/bridgecheck/model/*.json
!src/bridgecheck/model/*.f64
!src/bridgecheck/static/
!src/bridgecheck/static/**
